<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<ConfigDefinitionsCollection>

  <ConfigDefinition folder="" name="src_session_saving" project="" type="EXECUTION_PROPERTIES">&lt;ConfigElement Type="EXECUTION_PROPERTIES" ValueOrAlias="Values" AliasName="" xmlns="A420.ExecutionProperties.5"&gt;
  &lt;Name /&gt;
  &lt;Properties&gt;
    &lt;Execution TYPE="COMPLEX" saveNameAsAttribute="False" VALUE=""&gt;
      &lt;FastMode IsOverridable="True" TYPE="BOOL" saveNameAsAttribute="False"&gt;True&lt;/FastMode&gt;
      &lt;ThreadPoolSize IsOverridable="True" TYPE="INT" saveNameAsAttribute="False"&gt;1&lt;/ThreadPoolSize&gt;
      &lt;BPDThreadPoolSize IsOverridable="True" TYPE="INT" saveNameAsAttribute="False"&gt;1&lt;/BPDThreadPoolSize&gt;
      &lt;AutoRestart IsOverridable="True" TYPE="BOOL" saveNameAsAttribute="False"&gt;False&lt;/AutoRestart&gt;
      &lt;InternalDataHandling IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="InternalDataHandling"&gt;0&lt;/InternalDataHandling&gt;
      &lt;TransactionBatchSize IsOverridable="True" TYPE="INT" saveNameAsAttribute="False"&gt;1000&lt;/TransactionBatchSize&gt;
      &lt;ErrorHandling IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ExecutionErrorHandling"&gt;0&lt;/ErrorHandling&gt;
      &lt;SourceEventsLimit IsOverridable="True" TYPE="INT" saveNameAsAttribute="False"&gt;2000&lt;/SourceEventsLimit&gt;
      &lt;SessionSharing IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ExecutionSessionSharing" /&gt;
      &lt;DispatchingPolicyAmongSources IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="DispatchingPolicyAmongSources"&gt;0&lt;/DispatchingPolicyAmongSources&gt;
      &lt;ExecutionCOMPlusThreadingModel IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ExecutionCOMPlusThreadingModel"&gt;1&lt;/ExecutionCOMPlusThreadingModel&gt;
      &lt;MultiProcessingLoadBalancingPolicy IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="LoadBalancingPolicy"&gt;2&lt;/MultiProcessingLoadBalancingPolicy&gt;
      &lt;MemoryManagement IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="MemoryManagement"&gt;0&lt;/MemoryManagement&gt;
      &lt;DataMemoryManagement IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="DataMemoryManagement"&gt;4&lt;/DataMemoryManagement&gt;
      &lt;ProjectInstanceMemoryLimit IsOverridable="True" TYPE="INT" saveNameAsAttribute="False"&gt;0&lt;/ProjectInstanceMemoryLimit&gt;
      &lt;ProjectInstanceCount IsOverridable="True" TYPE="INT" saveNameAsAttribute="False"&gt;1&lt;/ProjectInstanceCount&gt;
      &lt;CriticalErrorHandling IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="CriticalErrorHandling"&gt;0&lt;/CriticalErrorHandling&gt;
      &lt;CriticalErrorNumberStoppingExecution IsOverridable="True" TYPE="INT" saveNameAsAttribute="False"&gt;1&lt;/CriticalErrorNumberStoppingExecution&gt;
      &lt;ProcessManagers TYPE="COMPLEX" saveNameAsAttribute="False" VALUE=""&gt;
        &lt;MainProcessManager IsOverridable="True" TYPE="STRING" saveNameAsAttribute="False" /&gt;
        &lt;AdditionalProcessManagers IsOverridable="True" TYPE="STRING" saveNameAsAttribute="False" /&gt;
      &lt;/ProcessManagers&gt;
    &lt;/Execution&gt;
    &lt;ExecutionParameters IsEditableCollection="True" CanModifyConfidentiality="True" TYPE="COMPLEX" saveNameAsAttribute="False" VALUE=""&gt;
    &lt;/ExecutionParameters&gt;
    &lt;CoherenceParameters TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="" /&gt;
    &lt;TransactionRetry TYPE="COMPLEX" saveNameAsAttribute="False" VALUE=""&gt;
      &lt;NumberOfRetries IsOverridable="True" TYPE="INT" saveNameAsAttribute="False"&gt;300&lt;/NumberOfRetries&gt;
      &lt;Delay IsOverridable="True" TYPE="INT" saveNameAsAttribute="False"&gt;1&lt;/Delay&gt;
      &lt;EnforceReconnectOnDatabaseSourcesWithNoStatusUpdate IsOverridable="True" TYPE="BOOL" saveNameAsAttribute="False"&gt;False&lt;/EnforceReconnectOnDatabaseSourcesWithNoStatusUpdate&gt;
    &lt;/TransactionRetry&gt;
    &lt;DBSessionsSavingOnSources TYPE="COMPLEX" saveNameAsAttribute="False" VALUE=""&gt;
      &lt;SaveDBSessions IsOverridable="True" TYPE="BOOL" saveNameAsAttribute="False" Override="False"&gt;True&lt;/SaveDBSessions&gt;
      &lt;RetentionTimout IsOverridable="True" TYPE="INT" saveNameAsAttribute="False" Override="False"&gt;@aptitudeDbSessionIdleTimeout@&lt;/RetentionTimout&gt;
    &lt;/DBSessionsSavingOnSources&gt;
    &lt;DBSessionsSavingOnETR TYPE="COMPLEX" saveNameAsAttribute="False" VALUE=""&gt;
      &lt;SaveDBSessionsInETR IsOverridable="True" TYPE="BOOL" saveNameAsAttribute="False"&gt;False&lt;/SaveDBSessionsInETR&gt;
      &lt;SaveDBSessionsInETR_RetentionTimeout IsOverridable="True" TYPE="INT" saveNameAsAttribute="False"&gt;0&lt;/SaveDBSessionsInETR_RetentionTimeout&gt;
    &lt;/DBSessionsSavingOnETR&gt;
    &lt;LockUnlockParameters TYPE="COMPLEX" saveNameAsAttribute="False" VALUE=""&gt;
      &lt;Scope IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="Scopes"&gt;0&lt;/Scope&gt;
      &lt;Timeout IsOverridable="True" TYPE="INT" saveNameAsAttribute="False"&gt;30&lt;/Timeout&gt;
    &lt;/LockUnlockParameters&gt;
    &lt;WebApplication TYPE="COMPLEX" saveNameAsAttribute="False" VALUE=""&gt;
      &lt;ApplicationAddress IsOverridable="True" TYPE="STRING" saveNameAsAttribute="False" /&gt;
    &lt;/WebApplication&gt;
    &lt;InternationalCharacterSupport TYPE="COMPLEX" saveNameAsAttribute="False" VALUE=""&gt;
      &lt;Collation IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="CultureInfo"&gt;GB&lt;/Collation&gt;
      &lt;CollationStrength IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="CollationStrength"&gt;0&lt;/CollationStrength&gt;
      &lt;Encoding IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="DeviceFileEncoding"&gt;5&lt;/Encoding&gt;
    &lt;/InternationalCharacterSupport&gt;
    &lt;Localisation TYPE="COMPLEX" saveNameAsAttribute="False" VALUE=""&gt;
      &lt;DefaultCulture IsOverridable="True" TYPE="DYNAMIC_CHOICE" saveNameAsAttribute="False" DynamicChoiceLoaderClass="Microgen.Aptitude.Metamodel.Development.config.exported.dynamicchoiceclasses.classes.LocalizationLanguageLoader" /&gt;
    &lt;/Localisation&gt;
    &lt;ExecutionLog TYPE="COMPLEX" saveNameAsAttribute="False" VALUE=""&gt;
      &lt;OverrideIniFileSurveySettings IsOverridable="True" TYPE="BOOL" saveNameAsAttribute="False"&gt;False&lt;/OverrideIniFileSurveySettings&gt;
      &lt;Enabled IsOverridable="True" TYPE="BOOL" saveNameAsAttribute="False"&gt;True&lt;/Enabled&gt;
      &lt;EnableStatistics IsOverridable="True" TYPE="BOOL" saveNameAsAttribute="False"&gt;True&lt;/EnableStatistics&gt;
      &lt;Levels IsOverridable="True" TYPE="STRING" saveNameAsAttribute="False"&gt;-n109&lt;/Levels&gt;
    &lt;/ExecutionLog&gt;
  &lt;/Properties&gt;
&lt;/ConfigElement&gt;</ConfigDefinition>

</ConfigDefinitionsCollection>